

<a routerLink="/login">Login</a>
<a routerLink="/register">Register</a>
<a routerLink="/profile">Profile</a>
<router-outlet></router-outlet>

<!--
<router-outlet>
  <div class="container">

    <ul><a routerLink="/login">                login               </a></ul>
    <ul><a routerLink="/register">             register             </a></ul>

    &lt;!&ndash;<ul><a routerLink="/user/123/website">          WebSiteList               </a></ul>
    <ul><a routerLink="/user/123/website/new">          WebsiteNewComponent               </a></ul>
    <ul><a routerLink="/user/123/website/111">          WebsiteComponentWithId              </a></ul>
    <ul><a routerLink="/user/123/website/111/edit">          WebSiteEdit               </a></ul>

    <ul><a routerLink="/user/123/website/111/page">          PageListComponent               </a></ul>
    <ul><a routerLink="/user/123/website/111/page/new">          PageNewComponent               </a></ul>
    <ul><a routerLink="/user/123/website/111/page/100">          PageEditComponent               </a></ul>

    <ul><a routerLink="/user/123/website/111/page/100/widget">          WidgetListComponent               </a></ul>
    <ul><a routerLink="/user/123/website/111/page/100/widget/new">          WidgetChooserComponent               </a></ul>
    <ul><a routerLink="/user/123/website/111/page/100/widget/123">          WidgetEditComponentWithId              </a></ul>&ndash;&gt;

  </div>
</router-outlet>
-->
