/* You can add global styles to this file, and also import other style files */
/*
p{
  background-color: deepskyblue;
  width: 500px;
  height: 100px;
  overflow: hidden;
  }

#blue_color{
  background-color: deepskyblue;
}

.green_color{
  background-color: greenyellow;
}
*/
